.background{
    background-image: url('../../../React---Rick-n-Morty-demo/public/cinema-film-projector-resized.jpg');
    height: 1000px;
    background-position-x: center;
}


.btn{
    font: inherit;
    cursor: pointer;
    background: #008080;
    border: 1px solid #008080;
    color: white;
    padding: 0.75rem 6rem;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px;
}
.btn:hover, .btn:active{
    background-color: #460897;
    border-color: #460897;
}
.wrapper{
    display: block;
    text-align: center;
    padding-top: 18%;
}
.heading{
    padding-bottom: 20px;
    font-size: 2em;
    text-align: center;
  }