.label{
    display: block;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .btn {   
    padding: 0.75rem 6rem;
    margin: 0px;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:10%;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}